Repository nordicopen/easee_hass, pull requests merged in 2024-05, with the labels that each got.

#405 Fix maintenance tag in HACS
  INFO.md
Labels: bugfix, maintenance

#399 Add icon translations
  .pre-commit-config.yaml
  custom_components/easee/const.py
  custom_components/easee/controller.py
  custom_components/easee/entity.py
  custom_components/easee/icons.json
  custom_components/easee/services.py
Labels: enhancement

#401 Change method for excluding Equalizers
  custom_components/easee/services.yaml
Labels: enhancement

#398 Update dev env to python3.12 and bump dependencies
  .devcontainer.json
  .github/workflows/dependabot.yaml
  .github/workflows/hassfest.yaml
  .github/workflows/python-app.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/validate_hacs.yaml
  .pre-commit-config.yaml
  .ruff.toml
  requirements-devcontainer.txt
  requirements.txt
Labels: dev tools

#414 Lokalise: Translations update
  custom_components/easee/translations/de.json
Labels: translation

#400 Add translations to services
  README.md
  custom_components/easee/services.py
  custom_components/easee/services.yaml
  custom_components/easee/translations/en.json
Labels: maintenance, breaking, translation

#420 Lokalise: Translations update
  custom_components/easee/translations/en.json
  custom_components/easee/translations/sv.json
Labels: translation

#421 Bump version to 0.9.59
  Makefile
  custom_components/easee/const.py
  custom_components/easee/manifest.json
  hacs.json
  setup.cfg
Labels: dev tools
